# 애플리케이션 서버용 node_exporter agent 설정입니다.
TZ=Asia/Seoul

# 사용할 컨테이너 이미지
NODE_EXPORTER_IMAGE=prom/node-exporter:v1.8.2

# 컨테이너 이름
NODE_EXPORTER_CONTAINER_NAME=node-exporter

# node_exporter 호스트 노출 포트
NODE_EXPORTER_PORT=9100
